.pull-left { float: left; }

.pull-right { float: right; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.inline-block { display: inline-block; }

.rel { position: relative; }

.absolute { position: absolute; }

.w-100vw { width: 100vw; }

.h-100vh { height: 100vh; }

.cursor-pointer { cursor: pointer; }

.text-underline { text-decoration: underline; }