// 去除浮动
// 用法：在对应样式里写 @extend %clearfix;
%clearfix {
	zoom: 1;

	&:after {
		display: block;
		content: ' ';
		clear: both;
	}
}

// 单行文本超出省略号
// 用法：在对应样式里写 @extend %no-wrap;
%no-wrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

// 多行文本超出省略号
// $line-clamp - Number - 超出多少行出省略号
// 用法：在对应样式里写 @include no-wrap-clamp(2);
@mixin no-wrap-clamp($line-clamp) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line-clamp;
	overflow: hidden;
}